{% extends 'base.html.twig' %}

{% block title %}Modifier un utilisateur{% endblock %}

{% block body %}
    <div class="container text-white my-5">
		<div class="container">
			<h1 class="display-4">Modifier un utilisateur</h1>
		</div>
	</div>
	
    <div class="container-fluid text-white">
        {{ form_start(userForm) }}

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_row(userForm.firstName,{'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_row(userForm.lastName,{'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    {{ form_row(userForm.email,{'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    {{ form_row(userForm.personalCode,{'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    {{ form_row(userForm.roles) }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_row(userForm.address,{'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_row(userForm.city,{'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_row(userForm.phone,{'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_row(userForm.imageFile,{'attr': {'class': 'custom-file-input'}}) }}
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-lg btn-primary mt-4">Valider</button>

        {{ form_end(userForm) }}
    </div>
{% endblock %}

