{% extends 'base.html.twig' %}

{% block title %}{% trans %}Connection{% endtrans %}{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="alert alert-success">
            Vous êtes connecté en tant {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
        <ul>
    {% endif %}

    {# {% if is_granted('ROLE_ADMIN') %}
        Administrateur
    {% elseif is_granted('ROLE_USER') %}
        Utilisateur
    {% else %}
        Anonyme
    {% endif %} #}
<div class="container mt-5">
    <h1 class="h3 mb-3 font-weight-normal text-white">Se connecter</h1>
    <div class="row col-6">
        <label class="text-white" for="inputEmail">{% trans %}Email{% endtrans %} :</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control " required autofocus />
        <label class="text-white" for="inputPassword">{% trans %}Password{% endtrans %} :</label>
        <input type="password" name="password" id="inputPassword" class="form-control" required />
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
    </div>
    <button class="btn btn-lg btn-primary mt-4" type="submit">
        {% trans %}Connect{% endtrans %}
    </button>
</div>

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
    
</form>
{% endblock %}
