{% extends 'base.html.twig' %}

{% block title %}{% trans %}Registration{% endtrans %}{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-white">{% trans %}Register{% endtrans %}</h1>

        {{ form_start(registrationForm) }}

        <div class="row text-white mt-5">
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_row(registrationForm.firstName,{'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_row(registrationForm.lastName,{'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>

        <div class="row text-white ">
            <div class="col-md-4">
                <div class="form-group">
                    {{ form_row(registrationForm.email,{'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    {{ form_row(registrationForm.password,{'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    {{ form_row(registrationForm.personalCode,{'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>

        <div class="row text-white ">
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_row(registrationForm.address,{'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_row(registrationForm.city,{'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>

        <div class="row text-white ">
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_row(registrationForm.phone,{'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_row(registrationForm.imageFile,{'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-lg btn-primary mt-4">{% trans %}Register{% endtrans %}</button>

        {{ form_end(registrationForm) }}
    </div>

{% endblock %}
