{% extends 'base.html.twig' %}

{% block title %}Edit NominationYear{% endblock %}

{% block body %}
    <h1>Edit NominationYear</h1>

    {{ include('nomination_year/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('nomination_year_index') }}">back to list</a>

    {{ include('nomination_year/_delete_form.html.twig') }}
{% endblock %}
