{% extends 'base.html.twig' %}

{% block title %}New NominationYear{% endblock %}

{% block body %}
    <h1>Create new NominationYear</h1>

    {{ include('nomination_year/_form.html.twig') }}

    <a href="{{ path('nomination_year_index') }}">back to list</a>
{% endblock %}
