{% extends "base.html.twig" %}

{% block title %}Créer une entreprise{% endblock %}

{% block body %}
	<div class="container text-white my-5">
		<div class="container">
			<h1 class="display-4">Créer une entreprise</h1>
		</div>
	</div>
{% endblock %}

