{% extends "base.html.twig" %}

{% block title %}Liste des entreprises{% endblock %}


{% block body %}
	<div class="container text-white my-5">
		<div class="container">
			<h1 class="display-4">Liste des entreprises</h1>
		</div>
	</div>

	<div class="container-fluid table-responsive text-white">
		<table class="table table-bordered text-center mt-4 text-white">
			<thead>
				<th scope="col">Id</th>
				<th scope="col">Nom</th>
				<th scope="col">Adresse</th>
				<th scope="col">Image</th>
				<th scope="col">Action</th>
			</thead>
			<tbody>
				{% for company in companies %}
					<tr>
						<th scope="row">{{ company.id }}</th>
						<td>{{ company.name }}</td>
						<td>{{ company.address }}</td>
						<td><img src="{{ vich_uploader_asset(company, 'imageFile') }}" width="56em" height="56em" alt="{{ company.document }}"/></td>
						<td>
							<a href="#" class="btn btn-info mx-2 my-2 my-sm-0">Modifier</a>
							<form method="POST" onsubmit="return confirm('etes-vous sur de supprimer ?')">
								<input type="hidden" name="_method" value="DELETE"/>
								<input type="hidden" name="_token" value=""/>
								<button class="btn btn-danger" type="submit">
									Supprimer
								</button>
							</form>
						</td>
					</tr>
				{% else %}
					<p>Aucunes entreprises enregistrées</p>
				{% endfor %}
			</tbody>
		</table>
    </div>
{% endblock %}

