{% extends "base.html.twig" %}

{% block title %}Page Administration{% endblock %}


{% block body %}
	<div class="container text-white my-5">
		<div class="container">
			<h1 class="display-4">Bienvenue sur l'interface d'administration</h1>
		</div>
	</div>

{% endblock %}
