
<hr>
		<div class="container">
			<div class="row my-5">
				<h1 class="display-4 text-white font-weight-bold">Bienvenue sur l'interface votre compte
					{% if app.user %}
						{{ app.user.username }}
					{% endif %}
				</h1>
			</div>
		</div>
<hr>


