{% extends "base.html.twig" %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}
    {{ include('user/userHeaderTemplate.html.twig') }}
    <div class="container ">
        <div class="row">
        <h1 class="text-white"> Vos votes : </h1>
        </div>
        <table class="table ttable-hover table-striped text-center mt-4 text-white">
            <thead>
            <th scope="col">date de votes</th>
            <th scope="col">Catégorie</th>
            <th scope="col">Entreprise</th>
            <th scope="col">date de nomination</th>
            </thead>
            <tbody>
            {% for vU in votesUser %}
                <tr>
                    <td>
                        {{ vU.date|date("m/d/Y")}}
                    </td>
                    <td>
                        {{ vU.nominationYear.category.category }}</br>
                        <img src="{{ vich_uploader_asset(vU.nominationYear.category, 'imageFile') }}" width="56em" height="56em" alt="{{ vU.nominationYear.category.document }}" /></td>
                    </td>
                    <td>
                        {{ vU.company.name }}</br>
                        <img src="{{ vich_uploader_asset(vU.company, 'imageFile') }}" width="56em" height="56em" alt="{{ vU.company.document }}" />
                    </td>
                    <td>
                        {{ vU.nominationYear.dateNominationYear|date("m/d/Y")}}
                    </td>
                </tr>
            {% else %}
                <p>Aucunes catégories enregistrées</p>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}